    * {
        margin: 0;
        padding: 0;
    }
    
    body {
        background-color: #fef2e5;
        margin: 1rem;
    }
    
    nav {
        display: flex;
        flex-direction: row;
        background-color: #fef2e5;
        justify-content: space-between;
        width: 100%;
    }
    
    .header_logo {
        display: flex;
        width: 10%;
    }
    
    .header_button {
        display: flex;
        width: 15%;
        align-items: center;
        justify-content: space-around;
    }
    
    .header_icons {
        display: flex;
        width: 30%;
        justify-content: space-between;
        align-items: center;
    }
    
    .sign_up {
        color: #ec5f00;
        background-color: #fef2e5;
        border: 1px solid #f19b62;
        border-radius: 20px;
        padding: .6rem;
        box-shadow: 4px 4px #f19b62;
    }
    
    .login {
        color: #ec5f00;
        background-color: #fef2e5;
        border: 1px solid #ec5f00;
        border-radius: 20px;
        padding: .65rem;
        box-shadow: 4px 4px #f19b62;
    }
    
    .sign_up:hover {
        color: #fef2e5;
        background-color: #ec5f00;
        box-shadow: 4px 4px #f19b62
    }
    
    .login:hover {
        color: #fef2e5;
        background-color: #ec5f00;
    }
    
    .main {
        display: grid;
        grid-area: sidebar;
        background-color: black;
    }